/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Roboto:900&display=swap');
* {
  box-sizing: border-box;
  transition: .3s;
}

body {
  letter-spacing: 2px;
  font-size: .9rem;
  line-height: 1.6;
  font-family: 'PT Sans', sans-serif;
}

.cd-side-navigation {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100px;
  overflow: hidden;
}

.cd-side-navigation ul {
  height: 100%;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  text-align: center;
  margin-top: 0;
}

.cd-side-navigation:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 90px;
  background-color: #6a6b6d;
}

.cd-side-navigation li {
  width: 90px;
}

.cd-side-navigation a {
  display: block;
  position: relative;
  padding: 20px 0;
  color: #d6d8da;
  text-decoration: none;
  font-size: .8rem;
}

.cd-side-navigation a:hover {
  background-color: #b8b7b7;
}

.cd-side-navigation a i {
  font-size: 1.6em;
}

.cd-side-navigation a.selected i {
  color: #83b0b9;
}

.cd-side-navigation a:after {
  content: '';
  position: absolute;
  top: 0;
  right: -4px;
  height: 100%;
  width: 4px;
  background-color: #83b0b9;
  opacity: 0;
}

.cd-side-navigation a:hover:after {
  opacity: 1;
}

.cd-side-navigation a.selected {
  background-color: #fff;
}

.cd-section {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateX(-100%);
  transition: transform 0s .5s;
}

.cd-section.visible {
  position: relative;
  z-index: 2;
  transform: translateX(0);
  transition: transform .5s 0s;
}

.cd-content {
  width: 90%;
  max-width: 800px;
  margin: 0 auto 2em;
  padding: 30px 0;
}

.cd-section header {
  width: 100%;
  background: #83B0B9;
  height: 100vh;
  position: relative;
  color: #fff;
  margin-top: 0;
  
}

.cd-title {
  text-align: center;
  position: absolute;
  top: 50%;
  width: calc(100vw - 90px);
  
}

.cd-scroll {
  animation: cd-scroll-down 1.8s .9s;
  position: absolute;
  display: block;
  color: #fff;
  left: calc(50vw - (94px - 4px)/2);
  bottom: 60px;
  font-size: 1.5rem;
}

@keyframes cd-scroll-down {
  0% {
    transform: translateY(0%) scale(1);
  }
  25% {
    transform:  translateY(50%) scale(1);
  }
  50% {
    transform: translateY(0%) scale(1);
  }
  75% {
    transform: translateY(50%) scale(1);
  } 100% {
    transform: translateY(0%) scale(1);
  }
}

@media only screen and (min-width: 480px) {
  .cd-section {
    padding-left: 90px;
  }
}


.nav-links {
    display: none;
    justify-content: space-evenly;
    width: 20%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(248, 244, 244);
    text-decoration: none;
    letter-spacing: 7px;
    font-weight: bold;
    font-size: 12px;
}

.burger {
    display: none;
}

.phone-only-logo {
    display: none;
}

.banner-logo {
  width: 200px;
  height: 20%;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.burger div {
    width: 30px;
    height: 4px;
    background-color: rgb(156, 156, 156);
    margin: 7px 9px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .banner-logo{
      display: none;
    }

    .cd-side-navigation {
      display: none;
    }
    
    .nav-links {
        position: absolute;
        left: 0px;
        height: 28vh;
        top: 0;
        background-color: #b9b9b9;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateY(-100%);
        transition: transform 0.5s ease-in;
        display: flex;
    }
    
    .nav-links li {
        opacity: 0;
    }
    
    .burger {
        display: block;
        cursor: pointer;
    }

    .phone-only-logo {
        display: flex;
        width: 50%;
        position:static;
        margin: auto;

    }

}

.nav-active {
        transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 10px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -10px);
}




/*--------------------------------------------------------------
# HOME
--------------------------------------------------------------*/
.banner-image {
  max-height: 50px;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

.slider-container {
	display: flex;
	align-items: center;
  justify-content: center;
  margin: auto;
	overflow: hidden;
	position: relative;
	height: 60vh;
	width: 70vw;
}

.slider-container h1 {
	color: #fff;
	font-size: 100px;
	letter-spacing: 5px;
	position: relative;
	z-index: 100;
	text-align: center;
}

.slider-container::after {
	background-color: #000;
	content: '';
	position: relative;
	opacity: 0.3;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}

.slide {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	height: 100%;
	width: 100%;
	transition: opacity .5s ease;
}

.slide.active {
	animation: grow 4s linear forwards;
	opacity: 1;
}

@keyframes grow {
	0%, 20% {
		transform: scale(1);
	}
	
	75%, 100% {
		transform: scale(1.1);
	}
}

.controls-container {
	position: absolute;
	top: 50%;
	right: 10px;
	display: flex;
	flex-direction: column;
	transform: translateY(-50%);
	z-index: 2;
}

.control {
	background-color: #fff;
	cursor: pointer;
	opacity: 0.5;
	margin: 6px;
	height: 40px;
	width: 5px;
	transition: opacity 0.3s, background-color 0.3s, transform 0.3s;
}

.control.active, .control:hover {
	background-color: #fff;
	opacity: 1;
	transform: scale(1.2);
}


@media screen and (max-width: 768px) {
  .slider-container {
    margin: auto;
    height: 50vh;
	  width: 70vw;
  }
}
/*--------------------------------------------------------------
# MENU
--------------------------------------------------------------*/
.menu {
  padding-top: 30px;
  padding-left: 100px;
  margin: auto;
  height: auto;
	width: 100%;
}

@media screen and (max-width: 768px) {
  .menu {
    padding: 0px;
    margin: auto;
    height: auto;
  }
}

/*--------------------------------------------------------------
# MERCH
--------------------------------------------------------------*/
.merch .merch-item {
  margin-bottom: 30px;
}

.merch #merch-flters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}

.merch #merch-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px 8px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
}


.merch #merch-flters li:last-child {
  margin-right: 0;
}

.merch .merch-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(54, 52, 58, 0.6);
}

.merch .merch-wrap::before {
  content: "";
  background: rgba(54, 52, 58, 0.6);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.merch .merch-wrap img {
  transition: all ease-in-out 0.3s;
}

.merch .merch-wrap .merch-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

.merch .merch-wrap .merch-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.merch .merch-wrap .merch-info p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-style: italic;
}

.merch .merch-wrap .merch-links {
  text-align: center;
  z-index: 4;
}

.merch .merch-wrap .merch-links a {
  color: #fff;
  margin: 0 5px 0 0;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.merch .merch-wrap .merch-links a:hover {
  color: #00cc95;
}

.merch .merch-wrap:hover::before {
  opacity: 1;
}

.merch .merch-wrap:hover img {
  transform: scale(1.2);
}

.merch .merch-wrap:hover .merch-info {
  opacity: 1;
}

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f6f6f7;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #009970;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}


@media screen and (max-width: 768px) {
    .merch {
    margin: 60px 10px;
  }
}

/*--------------------------------------------------------------
# LOCATION
--------------------------------------------------------------*/
.map {
	display: flex;
	align-items: center;
  justify-content: center;
  margin: auto;
	overflow: hidden;
	position: relative;
	height: 70vh;
	width: 60vw;
}

@media (max-width: 767px) {
  .map {
    margin: auto;
    height: 60vh;
	  width: 70vw;
  }
}

/*--------------------------------------------------------------
# CONTACT
--------------------------------------------------------------*/

@media (max-width: 990px) {
  .cd-content {
    margin: 80px 130px;
    height: 60vh;
	  width: 70vw;
  }
}

@media (max-width: 450px) {
  .cd-content {
    margin: auto;
    height: 60vh;
	  width: 70vw;
  }
}

/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/
.footer {
  background-color: #FFFFFF;
  border-top: 1px solid #DDDDDD;
}

.footer nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
}
.footer nav > ul a:not(.btn) {
  color: #8b8b8b;
  display: block;
}
.footer nav > ul a:not(.btn):hover, .footer nav > ul a:not(.btn):focus {
  color: #979696;
}
.footer .social-area > a:not(.btn) {
  color: #777777;
  display: inline-block;
  vertical-align: top;
  padding: 10px 5px;
  font-weight: normal;
  text-align: center;
}
.footer .social-area > a:not(.btn):hover, .footer .social-area > a:not(.btn):focus {
  color: #777777;
}
.footer .copyright {
  color: #fffbfb;
  padding: 10px 15px;
  margin: 15px 3px;
  text-align: center;
  letter-spacing: 7px;
}

.footer .btn-social {
  color: #fffbfb;
  padding-top: 10px;
  text-align: center;
}

.footer hr {
  border-color: #DDDDDD;
}

.footer:not(.footer-big) nav > ul li {
  margin-left: 20px;
  float: left;
}
.footer:not(.footer-big) nav > ul a {
  padding: 5px 0px;
  margin: 10px 10px 10px 0px;
}
.footer-color-gray {
  background-color: #F5F5F5;
}

.footer-color-black,
.footer-transparent {
  background-color: rgba(185, 184, 184, 0.97);
  color: #DDDDDD;
}
.footer-color-black nav > ul a,
.footer-transparent nav > ul a {
  color: #FFFFFF;
}
.footer-color-black nav > ul a:hover, .footer-color-black nav > ul a:focus,
.footer-transparent nav > ul a:hover,
.footer-transparent nav > ul a:focus {
  color: #777777;
}
.footer-color-black .social-area > a:not(.btn),
.footer-transparent .social-area > a:not(.btn) {
  color: #FFFFFF;
}
.footer-color-black .social-area > a:not(.btn):hover, .footer-color-black .social-area > a:not(.btn):focus,
.footer-transparent .social-area > a:not(.btn):hover,
.footer-transparent .social-area > a:not(.btn):focus {
  color: #777777;
}
.footer-color-black .btn-social,
.footer-transparent .btn-social {
  color: #FFFFFF;
}
.footer-color-black hr,
.footer-transparent hr {
  border-color: #444444;
}
.footer-color-black .title,
.footer-transparent .title {
  color: #DDDDDD;
}
